@model TodoList.Core.Models.TodoItem
@{
    ViewData["Title"] = "Details";
}
<div>
    <h4>Todo</h4>
    <hr />
    <dl class="dl-horizontal form-group">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            <markdown markdown="Content"></markdown>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Done)
        </dt>
        <dd>
            @(Model.Done ? "Yes" : "No")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddedDateTime)
        </dt>
        <dd>
            <span data-value="@Model.AddedDateTime" class="timeStampValue">
                @Model.AddedDateTime
            </span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DueToDateTime)
        </dt>
        <dd>
            <span data-value="@Model.DueToDateTime" class="timeStampValue">
                @Model.DueToDateTime
            </span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File)
        </dt>
        <dd>
            @ViewData["FileName"]
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
